.container {
    display: flex;
    flex-direction: column;
    min-width: max-content;
    min-height: 97vh;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 30px;
    &__logo {
        display: flex;
        align-items: center;
        &-img {
            display: grid;
            justify-self: end;
            align-items: center;
            margin: 0 15px
        }
    }
    &__nav {
        &-list {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin-bottom: 20px;
        }
    }
}

.general-info {
    display: grid;
    grid-template-columns: 0.65fr 1fr 0.65fr 1fr;
    align-items: center;
    color: #461b93;
    font-weight: bold;
    margin-top: 10px;
    padding-right: 2%;
    height: 15vh;
    border-radius: 20px;
    background-color: #dfdfff;

    &__label {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__input {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

.table {
    margin-top: 20px;
}