<section class="container">
  <header class="header">
    <div class="header__logo">
      <img class="header__logo-img" alt="logo" />
    </div>
    <nav class="header__nav">
      <ol class="header__nav-list">
        <li>topic 1</li>
        <li>topic 2</li>
        <li>topic 3</li>
        <li>topic 4</li>
      </ol>
    </nav>
  </header>

  <h2>General Form</h2>
  <section class="general-info">
    <label class="general-info__label">Name:</label>
    <label class="general-info__label">Fecha inicio:</label>
    <label class="general-info__label">Organización:</label>
    <label class="general-info__label">Fecha fin:</label>
  </section>
  
  <table>
    <caption>Tabla generación de tarifa</caption>
    <thead>
      <tr>
        <th>Producto</th>
        <th>Tarifa</th>
        <th>Moneda</th>
        <th>Item de trabajo</th>
        <th>Fecha de Inicio</th>
        <th>Fecha fin</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody *ngFor="let form of formList" [formGroup]="form">
      <tr>
        <td><input type="text" formControlName="producto"></td>
        <td><input type="text" formControlName="tarifa"></td>
        <td><input type="text" formControlName="moneda"></td>
        <td><input type="text" formControlName="itemTrabajo"></td>
        <td><input type="text" formControlName="fechaInicio"></td>
        <td><input type="text" formControlName="fechaFin"></td>
        <td><button (click)="addRowForm()">+</button></td>
      </tr>
    </tbody>
  </table>
</section>